* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
}

a{
  text-decoration: none;
  color: #f7d354;
  transition: .5s;
}

a:hover {
  color: #b8930c;
}

::-webkit-scrollbar {
  width: .7rem;
  border-radius: .5rem;
  background-color: hsl(23, 4%, 15%);
}

::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: hsl(23, 4%, 30%);
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(23, 4%, 40%);
}
